In [1]:
print("hello")

hello

In [3]:
print("world")

world

In [4]:
x= 30 
print (x)

30

In [7]:
id(x)
x=10

In [11]:
name = "goerg"
age = 35 
"my name is {} and my age is {}".format(name,age)

'my name is goerg and my age is 35'